.container {
  margin: 0 auto;
  width: 720px;
	font-family: 'Open Sans', sans-serif;
<<<<<<< HEAD
}

header {
  border-bottom: 1px dotted grey;
  padding: 10px;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 0.67em 0;
  display: block;

}

header li {
  display: inline-block;
}

header ul {
  list-style-type: none;
  text-align: center;
}
header a {
  display: block;
  width: 100px;
}

li {
  display: list-item;
}

footer {
  border-top: 1px dotted grey;
  padding: 10px;
}
body {
font-weight: 300;
=======
>>>>>>> 85daedf1439d9481512af5e95f101bad28082901
}